*
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body
{
    width: 100%;
    margin:0;
    /*background-color: #7bffab;*/
    font-size: 12px;
}
div.all
{ 
    background-color: #7bffab;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
a:hover {color: rgb(228, 15, 15);}
header
{
    background-color: #F7D7B1;
    /* display: flex; */
    /* flex-basis: 100%; */
    /*min-height: 120px;*/
    /* flex-flow: column wrap; */
}
.logo
{
    /* width: 25%; */
    border-radius:100%;
    /* margin-left: 5px; */
    /* margin-bottom: 10px; */
    /* justify-content: end; */
    /* order: 0; */
}
nav
{
    /* display: flex; */
    /* flex-flow: column nowrap; */
    /* order:2; */
    /*align-self: flex-end;*/
    /*align-content: space-around;*/
    /* align-items: center; */
    /* width: 100%; */
    /* margin-bottom: 5px; */
}
nav a
{
    margin: 2px 0;
    width: 95%;
    background-color: #ffc1c1ff;
    border: 1px solid #000000;
    border-radius: 10px 0;
    
    
    text-decoration: none;
    text-align: center;
    color:#000;
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
}
#nav1 {order:1;}
#nav2 {order:0;}
#nav3 {order:2;}
h1/*Заголовок страницы*/
{
    /* align-self: flex-end; */
    /* width: 66%; */
    /* margin-right: 10px; */
    font-size: 16px;
    /* margin-top:-50px; */
    /* margin-bottom: 10px; */
    /* order:1; */
}
.main
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
#hyperpages
{
    order: 1;
    margin: 10px 10px 0 10px;
}
#hyperpages img
{
    width: 60%;
    height: fit-content;
}
#hyperpages ul
{
    margin-left:20px;
}
#hyperpages h2{font-size: 20px; margin-left: 10px; margin-top:10px;}
table/*Таблица*/
{
    order: 0;
    border: 3px solid black;
    border-spacing: 0;
    margin: 15px auto;
    text-align:center;
    font-size: 10px;
    
}
tr{height: 20px;}
tr.chet     {background-color: #3ae1ff;}
tr.nechet   {background-color: #f1d9b2;}
tr:first-child
{
    background-color: rgb(85, 181, 255);
    font-size: 14px;
    font-weight: bold;
}
tr:nth-child(2)
{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
tr:nth-child(5), tr:nth-child(6), tr:nth-child(7)
{
    height: 40px;
}
tr td 
{
    vertical-align: middle;
    border: 1px solid black;
    min-width: 35px;
}
tr:nth-child(2) td:nth-child(3), td:nth-child(4)
{
    width:240px;
}
#form
{
    order: 2;
    width: 90%;
    display: flex;
    align-self: center;
    background-color: chartreuse;
    margin: 5px 0;
    border: 3px solid black;
    flex-flow: column wrap;
    padding: 2px;
    align-content: space-around;
    
}
#form h2
{
    font-size: 20px;
    align-self: center;
    margin-bottom: 2px;
}
#form .square1
{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 2px;
    justify-content: space-between;
}
#form .square1 label
{
    margin-left: 2px;
}
#form .square1 input
{
    margin-right: 2px;
}
#form .square, #submit
{
    border: 2px solid black;
}
#form .other, #form .description
{
    margin: 2px;
}
#form textarea
{
    margin-left: 1px;
    width: 95%;
}
#checkbox
{
    margin:2px;
}
#submit
{
    margin-top: -10px;
    margin-bottom: 5px;
}
footer
{
    flex-basis: 100%;
    background-color: yellow;
}
@media (min-width:380px) {
    body{font-size: 16px;}
    #nav1,#nav2,#nav3,#hyperpages, table, form {order: 1;}
    header
    {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .logo, nav, h1 {margin: 5px;}
    .logo {order:0; width: 15%; }
    nav
    {
        flex-flow: row nowrap;
        justify-content:space-between;
        order: 1;
        width: 73%;
        align-self: flex-start;
    }
    nav a {flex-basis: 30%;}
    h1 {order:3; font-size: 24px; width: 100%; text-align:end; }
    table {font-size: 14px;}
    tr:nth-child(1) {font-size: 18px;}
    tr:nth-child(2) {font-size: 16px;}
    
}
@media (min-width:400px){
    #form {width: 350px; padding: 10px;}
}
@media screen and (min-width: 961px) {
    body{width: 960px; margin: auto;}
    h1{font-size: 200%; margin-left: 10px;}
    nav{margin: 10px;}
    nav a {flex-basis: 32%;}
    table{font-size: 120%;}
    tr td {padding: 10px;}
    tr:first-child { font-size: 140%;}
    tr:nth-child(2) { font-size: 100%;}
    #hyperpages { margin: 10px 30px 30px 30px;}

  }



